@model kuaforsln.Models.About
@{
    ViewData["Title"] = "Hakkinda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   
<div class="ui grid centered container padded">
    <div class="four wide column">
        <h3>Hakkimizda</h3>
        <p>@Model.Hakkinda</p>
    </div>
    <div class="four wide column">
        <h3>Amac</h3>
        <p>@Model.Amac</p>
    </div>
    <div class="four wide column">
        <h3>Vizyonumuz</h3>
        <p>@Model.Vizyon</p>
    </div>
 
</div>