@model List<kuaforsln.Models.Uzman>
@{
    ViewData["Title"] = "Uzmanlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui grid centered container padded">
    @foreach (var uzman in Model)
    {
        <div class="three wide column">
            
            @if(uzman.Kullanici != null)
            {
                <h4>Isim</h4>
                <p>@uzman.Kullanici.TamAdi</p>
                <br />
            }
            <p>Alani: @uzman.UzmanAlan</p>
        </div>
    }
</div>